{% extends "base.html"%}

{%block some_name%}


<div class="row">
    <div class="col-md-10 col-sm-12">
        <div class="row row-cols-1  row-cols-sm-2 row-cols-md-3 g-4">
            <form method="GET">
                <input name="name" value="{{name}}" lass="form-control" id='searchInput'>
                <button class="btn btn-primary" id="searchButton"> поиск</button>

                </form>
                <button class="btn btn-primary" id="borsch"> Борсч </button>
                </div>
{% verbatim %}
<div id="app">
    <input name="name" v-model="message" lass="form-control" id='searchInput'>
     {{ message }} 
    <button class="btn btn-primary" v-on:click="getDish"> поиск</button>
    <div v-for="dish in dishList">{{dish.name}}</div>
</div>
{% endverbatim%}
    </div>
</div>
<script>
var app = new Vue({
  el: '#app',
  data: {
    message: 'Привет, Vue!',
    dishList:[]
  },
    methods:{
        async  getDish(){

            let params = new URLSearchParams({
                name: this.message
            })
            let response = await fetch('http://127.0.0.1:8000/api/dish/?'+ params)
            this.dishList  = await response.json()
        }
    }
})
    </script>
{%endblock%}
