{% extends "base.html"%}

{%block some_name%}
<div class="row">
    <div class="col-md-10 col-sm-12">
        <div class="row row-cols-1  row-cols-sm-2 row-cols-md-3 g-4">
            {% for dish in object_list%}
            <div class="col">
                <div class="card h-100" > 
                    {% if dish.photo%}
                    <img class="card-img-top" src="{{dish.photo.card.url}}">
                    {%else %}
                    фото нет
                    {%endif%}
                    <div class="card-body">
                        <h5 class="card-title"> {{dish.name}}</h5>
                        <p>{{dish.get_typ_display}} </p>
                        <p>  {{dish.cooking_time}} </p>
                        <p>  {%for  ing in dish.ingredient_set.all %} 
                        <div> {{ing.food.name }}|  {{ing.quantity}}</div>
                        {%endfor%}
                        {% lorem 1 p %} 
                        </p>
                        <a href="{%url 'dish-update' dish.id%}"> изменить</a>
                        </td>
                        <a href=" {{ dish.get_absolute_url }}" class="btn btn-primary">подробнее</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        <a href="{% url 'dish-create'%}" class="btn btn-primary"> Добавить</a>
    </div>

</div>
{%endblock%}
